.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%; /* Add this line to make the button span the full width */
}

.sticky-sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  max-height: calc(100vh - 54px); /* Adjust the height to account for the button */
}

.App-link {
  color: #61dafb;
}

body {
  padding-bottom: 150px; /* Adjust the value as per your requirement */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.react-datepicker {
  font-family: Arial, sans-serif;
}

.react-datepicker-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}

.react-datepicker__input-container {
  display: inline-block;
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.react-datepicker__input-container input:focus {
  outline: none;
  border-color: #61dafb;
}

.soft-border {
  border-left: 4px solid #61dafb;
}

.my-textarea {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out; /* Add a transition for smoother visual change */
}

.my-textarea:focus {
  outline: none;
  border-color: #61dafb;
  box-shadow: 0 0 0 3px rgba(97, 218, 251, 0.3); /* Add a box shadow to indicate focus */
}